/* Importing external font */
@import url('https://font.typeform.com/dist/google/sniglet/index.css');

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Sniglet, sans-serif;
    color: #252525;
    font-weight: 400;
    min-height: 100vh;
}

/* Styles for screen content wrapper */
.screen-content-wrapper, .content-wrapper-inner {
    font-family: Sniglet, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none solid rgb(251, 234, 121);
    text-align: start;
    color: rgb(68, 68, 68);
    box-sizing: border-box;
    display: flex;
    list-style-type: disc;
    list-style-position: outside;
    overflow: auto;
    justify-content: center;
    align-items: center;

}

.screen-content-wrapper {
    height: 100vh;
    width: 100%;
    padding: 2.5vw;
    flex-wrap: wrap; /* new line */
    position: static;
}

.content-wrapper-inner {
    position: absolute;
    max-width: 60vw;
    text-align: center;
    width: 80vw;
    height: 80vh;
    margin: 10vh auto;
    border: 0 none rgb(68, 68, 68);
    padding: 2vw;
    overflow: visible;
    flex-direction: column;
    transform: translateY(-20%);
}

/* Styles for main icon, sign-in button, login textbox heading and paragraph */
.main-icon, .sign-in-button, .login-textbox-heading, .login-textbox-paragraph {
    font-family: Sniglet, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fadeIn;
    animation-duration: 1.38s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.main-icon {
    margin-bottom: 2rem;
    transform: scale(0.67) translateY(20%);
}

.main-icon-svg {
    animation: ping 4.5s linear infinite;
}

/* Styles for sign-in button */
.sign-in-button {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none solid rgb(27, 84, 95);
    text-align: center;
    color: rgb(27, 84, 95);
    background-color: rgb(151, 213, 226);
    height: 48px;
    width: 108px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 8px 18px;
    position: relative;
    display: block;
    overflow: visible;
    cursor: pointer;
    transition: background-color 0.15s ease-out 0s, color 0.1s ease-out 0s, border-color 0.1s ease-out 0s, opacity 0.1s ease-out 0s, box-shadow 0.1s ease-out 0s;
    box-shadow: rgba(0, 0, 0, 0.1) 0 3px 12px 0;
    border-radius: 4px;
    animation-name: slideUp;
    animation-duration: 1s;
}

.sign-in-button:hover {
    background-color: rgb(151, 213, 226, 0.8);
}

.sign-in-button:active {
    color: rgb(0, 0, 0); /* change to the color you want on click */
    background-color: rgb(133, 198, 209);
}

/* Styles for login textbox heading and paragraph, sign up link */
.login-textbox-heading {
    font-size: 35px;
    display: block;
    width: auto;
    margin-bottom: 40px;
    -webkit-font-smoothing: antialiased;
    animation-name: slideUp;
    animation-duration: 1s;
}

.login-textbox-paragraph {
    color: rgb(61, 61, 61, 0.7);
    display: inline-block;
    height: auto;
    font-size: 25px;
    overflow-wrap: break-word;
    text-align: center;
    width: auto;
    animation-name: slideUp;
    animation-duration: 1s;
    -webkit-font-smoothing: antialiased;
}

.create-account-container {
    animation-name: fadeIn;
    animation-duration: 1.38s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.signup-link, .signup-link:visited {
    color: #444444; /* Replace with your desired color */
}

/* Styles for viewports that are 768px wide or less */
@media screen and (max-width: 768px) {
    .main-icon {
        transform: scale(0.6) translateY(20%);
        margin-bottom: 20px;
    }
    .content-wrapper-inner {
        max-width: 95%;
        height: auto;
    }
}

/* Styles for viewports that are 480px wide or less */
@media screen and (max-width: 480px) {
    .main-icon {
        transform: scale(0.6) translateY(20%);
        margin-bottom: 0;
    }

    html, body {
        overflow-x: hidden;
    }

    .content-wrapper-inner {
        max-width: 100%;
        height: auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Keyframes for animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes ping {
    0% {
        transform: scale(0.8);
        opacity: 0.1;
    }
    50% {
        transform: scale(1.0);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        opacity: 0.1;
    }
}